.padding-20-left {
	padding-left: 20px;
}
.signOut {
	float: right;
	color: white;
	height: 75.5px;
	width: 75.5px;
	font-size: 14px;
	text-transform: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: lighter;
}

.center-text {
	text-align: center;
}